<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>한끼함께 login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="js/go_to_main_logo.js"></script>
    <link rel="stylesheet" href="css/login_main.css">
    <script type="text/javascript">
        if(<%= isalert%>)
            alert('아이디 / 비밀번호를 확인해주세요!');
    </script>
</head>

<body>
    <div class="maindiv">
        <img src="./img/logo.png" class="logo" id="logo">
        <form action="/login" method="post">
            <div class="container">
                <input type="text" name="userid" class="login" placeholder="아이디">
                <input type="password" name="userpw" class="login" placeholder="비밀번호">
                <input class="login" type="submit" value="로그인">
            </div>
        </form>
        <hr>
        <div class="container" align="center">
            <a class="bottom" href="/signup">회원가입</a>
            <p class="bottom">|</p>
            <a class="bottom" href="/find">아이디/비밀번호 찾기</a>
        </div>
    </div>
</body>

</html>