<% if(user==undefined){%>
<li class="nav-item">
    <a class="nav-link" href="/login">로그인</a>
</li>
<% }else{%>
<li class="nav-item">
    <a class="nav-link"><%= user%>님</a>
</li>
<li class="nav-item">
    <form name="logout">
    	<input type="hidden" name="userid">
    </form>
    	<a class="nav-link" href="javascript:page_logout();">로그아웃</a>
</li>
<% }%>